
html {
    max-width: 1600px;
}

body {
    margin: 0 auto 0 auto;
    align: center;
    text-align: center;
    font-family: arial, sans-serif;
    background-color: #E8F3D6;
    width: 720px;
}




.top-container {
    height: 800px;
}

#name-border {
    margin: 0 auto 0 auto;
}

#top-burst {
    position: relative;
    bottom: 650px;
    left: 400px;
}

h1 {
    font-family: 'Homemade Apple', cursive;
    font-size: 50px;
    color: #FAAB78;
    position: relative;
    bottom: 575px;
}

#middle-burst {
    position: relative;
    right: 400px;
    bottom: 400px;
}

.pro {
    font-weight: bold;
}

#programmer-p {
    position: relative;
    bottom: 700px;

}




.middle-container {
    width: 720px;
    height: 3000px;
    padding: 10%;
}

.profile {
    height: 600px;
    width: 800px;
}

#topmidburst {
    position: relative;
    right: 300px;
    bottom: 10px;
}

#midmidburst {
    position: relative;
    left: 100px;
    top: 300px;
}

#self {
    position: absolute;
    left: 560px;
    border-radius: 1000px;
    border-color: #FAAB78;
}

.profile-header {
}


h2 {
    color: #FAAB78;
    position: relative;
    top: 350px;
    right: 100px;
}

#midrightburst {
    position: relative;
    right: 480px;
    top: 200px;
}

.profile-p {
    position: relative;
    width: 500px;
    top: 250px;
    left: 45px
}

#biscuit {
    margin-top: 120px;
    margin-right: 380px;
}




.skills {
    padding-top: 10%;
}

#skillets {
    position: relative;
    top: 10px;
    right: 60px;
}

#skilltopburst {
    position: relative;
    right: 400px;
    bottom: 100px
}

#glasses-icon {
    position: relative;
    top: 100px;
    right: 110px;
}

#optical-header {
    position: relative;
    right: 60px;
}

#skillmidburst {
    position: relative;
    left: 400px
}

h3 {
    color: #FAAB78;
    margin: 0;
}

#optical-skill-list {
    line-height: 40px;
    width: 500px;
    margin-left: 20px;
    text-align: center;
    color: #FAAB78;
    list-style-type: none;

}

p {
    color: #FAAB78;;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 20px;
    width: 12%;
    color: #FFFBAC;
}







.skill-row {
    height: 700px;
    padding-bottom: 30px;
}

#skill2topburst {
    position: relative;
    right: 340px;
    bottom: 150px;
}

.computericon {
    position: relative;
    right: 50px;
    top: 150px;
}

#skill2midburst {
    position: relative;
    left: 350px;
    top: 100px;
}

#tech-header {
    position: relative;
    top: 150px;
    right: 50px;
}

#tech-skill-list {line-height: 40px;
    width: 500px;
    margin-left: 20px;
    text-align: center;
    color: #FAAB78;
    list-style-type: none;
    margin-top: 200px;
}











#skill2bottomburst {
    position: relative;
    right: 600px;
    bottom: 100px;
}

#contact-hr {
    margin-top: 200px;
    margin-right: 370px;
}

.contact-me {
    height: 700px;
    width: 600px;
}

.phoneicon {
    position: absolute;
    right: 640px;
    top: 200px,
}

#get-in-touch {
    position: relative;
    left: 0px;
}

.btn {
    position: relative;
    top: 360px;
    left: 10px;
    color: #FAAB78;
    font-family: 'Homemade Apple', cursive;
    font-size: 30px
}

#visit-p {
    position: relative;
    top: 370px;
    font-size: 20px;
    padding-bottom: 10px
}

.bottom-container {
    margin-top: 50px;
    height: 500px;
    width: 600px;

}

.footer-link {
    color: #FAAB78;
    position: relative;
    left: 70px;
    padding: 20px;
    font-size: 20px;
}

#tag {
    position: relative;
    top: 520px;
    left: 60px;
}

